* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

section {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(192, 180, 13);
  transition: 0.5s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 100px;
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 50px;
}
header ul li a:hover {
  color: red;
}
